@import "./colorplan.css";
.blockA{
    overflow: hidden;
    padding: 13px 15px 12px 15px;
	display: block;
	/* 设置文字属性 */
	text-decoration: none;
	color: var(--color100);
	text-align: center;
	/* 设置文字无法选择： */
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
    background-color:var(--color500);
}
.blockA:visited {
	/* 访问后不变色 */
    text-decoration: none; 
}
.blockA:hover {
	/* 变亮 */
    background-color: var(--color300);
}