/*
 * @Author: visnz.zhaoyue 
 * @Date: 2019-07-30 16:28:06 
 * @Last Modified by: visnz.zhaoyue.modified
 * @Last Modified time: 2019-08-01 10:22:38
 */
/* 悬停变色 
 *
 * example: 
 *     <a class="hoverColor" colorplan="google" href="http://">helloworld</a>
 */
@import "./colorplan.css";
@keyframes highlights {
  0% {background-color:var(--color500);}
  100% {background-color: var(--color400);}
}
@keyframes lowlights {
  0% {background-color: var(--color400);}
  100% {background-color:var(--color500);}
  }
.hoverColor {
  background-color:var(--color500);
  animation: lowlights 0.5s linear;
}  
.hoverColor:hover{
  animation: highlights 0.5s linear;
  background-color: var(--color400);
}