/*
 * @Author: visnz.zhaoyue 
 * @Date: 2019-08-01 23:48:11 
 * @Last Modified by: visnz.zhaoyue.modified
 * @Last Modified time: 2019-08-02 00:28:36
 */
 @import "./colorplan.css";
 /* 用flexbox实现了一个标签页面 */
.tabbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* 悬停变色 */
.onetab:hover{
  background-color: var(--color300);
}
/* 激活变色，与背景板同色 */
.onetab[active="true"],.tabcontent{
  background-color: var(--color500);
}
.onetab{
  background-color: var(--color300);
  display: inline;
  align-items: left;
}
.tabcontent{
  padding: 10px;
  display: block;
  padding: 10px;
}